@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
:root {
  font-size: 10px;
  --light-bg: #f6f7f9;
  --mark-text: #54b9cf;
  --text: #f6f7f9;
  --background: #23272f;
  --button-color: #32312e;
  --cards: conic-gradient(
    from -90deg at 110% 100%,
    #2b303b 0deg,
    #16181d 1turn
  );
}

* {
  user-select: none;
}

body {
  background: linear-gradient(270deg, #2b303b, #16181d, #16181c, #262b37);
  background-size: 800% 800%;
  animation: AnimationName 15s alternate-reverse ease infinite;
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

* > li {
  color: var(--text);
}

* > li:hover {
  cursor: pointer;
}

img > div {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

[alt] {
  color: var(--text);
}

.containers {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  min-height: 100%;
}

.section {
  min-height: calc(100dvh + 1px);
  scroll-snap-align: start;
}

.card {
  animation: card 3s ease alternate infinite;
}

@keyframes card {
  from {
    background: conic-gradient(
      from -90deg at 110% 100%,
      #2b303b 0deg,
      #16181d 90deg,
      #16181d 1turn
    );
  }
  to {
    background: conic-gradient(
      from 110% 100%,
      #2b303b 0deg,
      #16181d 90deg,
      #16181d 1turn
    );
  }
}
.css-selector {
  background: linear-gradient(270deg, #2b303b, #16181d, #16181c, #262b37);
  background-size: 800% 800%;

  animation: AnimationName 15s alternate-reverse ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 58%;
  }
  50% {
    background-position: 100% 43%;
  }
  100% {
    background-position: 0% 58%;
  }
}

li > a:hover {
  transition: 0.35s all;
  color: var(--mark-text);
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: white;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(200, 200, 200);
  cursor: none;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(200, 200, 200);
  cursor: none;
}

@media (max-width: 1000px) {
  :root {
    font-size: 9px;
  }
}
